{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": ["last 2 versions"]
				}
			}
		]
	],
	"env": {
		"development": {
			"sourceMaps": "inline"
		}
	},
	"comments": false,
	"sourceMaps": true
}
